{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block stylesheets %}

{%endblock%}
   {%block container %}
<div class="container">
    <h2>Hello {{name}}</h2>
{% include "LoginLoginBundle:Default:table.html.twig"%}
</div> 
<a href="{{path('login_login_logout')}}" >Logout</a>
    {%endblock%}