/*!CK:483392313!*//*1386688591,178146123*/

form{margin:0;padding:0}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{font-weight:normal}
textarea, .inputtext, .inputpassword{border:1px solid #bdc7d8;margin:0;padding:3px;-webkit-appearance:none;-webkit-border-radius:0}
textarea{max-width:100%}
select{border:1px solid #bdc7d8;padding:2px}
.inputtext, .inputpassword{padding-bottom:4px}
.inputtext:invalid, .inputpassword:invalid{-webkit-box-shadow:none}
.inputradio{padding:0;margin:0 5px 0 0;vertical-align:middle}
.inputcheckbox{border:0;vertical-align:middle}
.inputbutton, .inputsubmit{border-style:solid;border-width:1px;border-color:#d9dfea #0e1f5b #0e1f5b #d9dfea;background-color:#3b5998;color:#fff;padding:2px 15px 3px 15px;text-align:center}
.inputsubmit_disabled{background-color:#999;border-bottom:1px solid #000;border-right:1px solid #666;color:#fff}
.inputaux{background:#f0f0f0;border-color:#e7e7e7 #666 #666 #e7e7e7;color:#000}
.inputaux_disabled{color:#999}
.inputsearch{background:#fff url(/rsrc.php/v2/yV/r/IJYgcESal33.png) no-repeat left 4px;padding-left:17px}
body{background:#fff;color:#333;line-height:1.28;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed}
body, button, input, label, select, td, textarea{font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px}
h1, h2, h3, h4, h5, h6{font-size:13px;color:#333;margin:0;padding:0}
h1{font-size:14px}
h4, h5, h6{font-size:11px}
p{margin:1em 0}
a{color:#3b5998;cursor:pointer;text-decoration:none}
button{margin:0}
a:hover{text-decoration:underline}
img{border:0}
td, td.label{text-align:left}
dd{color:#000}
dt{color:#777}
ul{list-style-type:none;margin:0;padding:0}
abbr{border-bottom:none}
hr{background:#d9d9d9;border-width:0;color:#d9d9d9;height:1px}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}
.datawrap{word-wrap:break-word}
.word_break{display:inline-block}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.aero{opacity:.5}
.column{float:left}
.center{margin-left:auto;margin-right:auto}
#facebook .hidden_elem{display:none !important}
#facebook .invisible_elem{visibility:hidden}
#facebook .accessible_elem{clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute;width:1px}
.direction_ltr{direction:ltr}
.direction_rtl{direction:rtl}
.text_align_ltr{text-align:left}
.text_align_rtl{text-align:right}
.DOMControl_placeholder{color:#777}
.no_js .DOMControl_placeholder{color:#000}

.pluginButtonSpacer{padding-left:4px}
.blueButton{border:none}
.blueButton .pluginButton{font-weight:bold;padding:0}
.blueButton.blue .pluginButton{background:#4c69ba;background:-webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));background:-webkit-linear-gradient(#4c69ba, #3b55a0);border:none;-webkit-border-radius:2px;color:#fff;height:20px;line-height:20px;text-shadow:0 -1px 0 #354c8c}
.blueButton.gray .pluginButton{background:#ebebeb;background:-webkit-gradient(linear, center top, center bottom, from(#f7f7f7), to(#e3e3e3));background:-webkit-linear-gradient(#f7f7f7, #e3e3e3);border-color:rgba(0,0,0,.3);-webkit-border-radius:2px;border-style:solid;border-width:1px;color:#4e5665;height:18px;line-height:18px;text-shadow:0 1px 0 #eceef0}
.blueButton .pluginButton button{font-weight:bold;outline:none}
.blueButton.blue .pluginButton button{text-shadow:0 -1px 0 #354c8c}
.blueButton.gray .pluginButton button{text-shadow:0 1px 0 #eceef0}
.blueButton.blue .pluginButtonIconPlaceholder{width:7px}
.blueButton.gray .pluginButtonIconPlaceholder{width:6px}
.blueButton .pluginButton .pluginButtonLabel{position:relative;vertical-align:top}
.blueButton.blue .pluginButton .pluginButtonLabel{padding:0 5px 0 0}
.blueButton.gray .pluginButton .pluginButtonLabel{padding:0 4px 0 0}
.android .blueButton .pluginButton .pluginButtonLabel{top:1px}
.blueButton .pluginButton .pluginButtonIcon{height:14px;left:0;position:relative;vertical-align:top;width:14px}
.blueButton.blue .pluginButton .pluginButtonIcon{margin:0 4px 0 4px;top:3px}
.blueButton.gray .pluginButton .pluginButtonIcon{margin:0 4px 0 3px;top:2px}
.blueButton .pluginButton .pluginButtonImage{display:inline-block}
.blueButton .pluginButton .pluginButtonContainer{-webkit-font-smoothing:antialiased}
.blueButton.blue .pluginButton:hover{background:#5b7bd5;background:-webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));background:-webkit-linear-gradient(#5b7bd5, #4864b1);border-bottom-color:#41599f;border-left-color:#4961a8;border-right-color:#4961a8;border-top-color:#5874c3;-webkit-box-shadow:inset 0 0 1px #607fd6}
.blueButton.gray .pluginButton:hover{background:#f7f7f7;background:-webkit-gradient(linear, center top, center bottom, from(#fff), to(#f6f7f8));background:-webkit-linear-gradient(#fff, #f6f7f8)}
.blueButton.blue .pluginButtonPressed, .blueButton.blue .pluginButtonPressed:hover{background:#31498c;background:-webkit-gradient(linear, center top, center bottom, from(#415ca9), to(#4c69ba));background:-webkit-linear-gradient(#415ca9, #4c69ba);border-bottom-color:#374f92;border-top-color:#374f92;-webkit-box-shadow:inset 0 0 1px #3e58a3;opacity:.7}
.blueButton.gray .pluginButtonPressed, .blueButton.gray .pluginButtonPressed:hover{background:#e5e5e5;background:-webkit-gradient(linear, center top, center bottom, from(#e3e3e3), to(ebebeb));background:-webkit-linear-gradient(#e3e3e3, ebebeb);border-color:rgba(0,0,0,.3);border-style:solid;border-width:1px}
.pluginButton{background:#eceef5;-webkit-border-radius:3px;border:1px solid #cad4e7;cursor:pointer;padding:2px 6px 4px;white-space:nowrap;color:#3b5998}
.pluginButtonInline{display:inline-block}
.pluginButtonX{cursor:default}
.pluginButton button{background:transparent;border:0;margin:-1px;padding:0;font:inherit;color:inherit;cursor:pointer}
.pluginButtonIcon{position:relative;top:3px;margin-right:3px}
.pluginButtonSmall{padding:0 5px 2px 5px}
.pluginButtonSmall .pluginButtonIcon{margin-right:2px}
.pluginButtonIconPlaceholder{display:block;height:14px;width:5px}
.pluginButton:hover{border-color:#9dacce}
.pluginButtonPressed, .pluginButtonPressed:hover{background-color:#eee;border-color:#ddd;color:#aaa}
.pluginSkinDark .pluginButton{background-color:#c7c7c7;border-color:#999;color:#333}
.pluginSkinDark .pluginButton:hover{background-color:#d9d9d9;border-color:#ddd}
.pluginSkinDark .pluginButtonPressed, .pluginSkinDark .pluginButtonPressed:hover{background-color:#444;border-color:#555;color:#666}
.pluginButtonErrorLink{color:#a00;font-weight:bold}
.pluginButtonX .pluginButtonXOff, .pluginButtonX button:hover .pluginButtonXOn, .pluginButtonX button:focus .pluginButtonXOn{display:inline-block}
.pluginButtonX .pluginButtonXOn, .pluginButtonX button:hover .pluginButtonXOff, .pluginButtonX button:focus .pluginButtonXOff{display:none}
.pluginButton .pluginButtonThrobber, form.async_saving .pluginButtonIconWithThrobber{display:none}
form.async_saving .pluginButtonThrobber{display:inline-block;margin-top:2px;margin-bottom:1px;max-width:14px}
.pluginConnectTextDark a{color:#fff}
.pluginConnectTextDark{color:gray}
.pluginCountBox{background:#fff;border:1px solid #d3d3d3;font-size:13px;height:24px;margin:0;min-width:35px;padding:6px 1px 2px 3px;text-align:center;white-space:nowrap}
.blueButton .pluginCountBox{border:1px solid #898f9c;-webkit-border-radius:2px;color:#6a7180}
.pluginCountBoxIcon{position:relative;top:2px;left:-3px}
.pluginCountBoxTextOnly{padding:2px}
.pluginCountBoxNub{position:relative;z-index:2;bottom:1px;height:7px;left:7px;width:0}
.pluginCountBoxNub s, .pluginCountBoxNub i{border-color:#D3D3D3 transparent transparent;border-right:5px solid transparent;border-style:solid;border-width:5px;display:block;position:relative}
.blueButton .pluginCountBoxNub s, .blueButton .pluginCountBoxNub i{border-color:#898f9c transparent transparent}
.pluginCountBoxNub i, .blueButton .pluginCountBoxNub i{border-top-color:#fff;left:0;top:-12px}
.pluginCountBoxDark{border-color:#c7c7c7;background:#c7c7c7;color:#333}
.pluginCountBoxDarkNub s{border-top-color:#c7c7c7}
.pluginCountBoxDarkNub i{display:none}
.pluginCountButton{background:#fff;border:1px solid #c1c1c1;height:14px;line-height:14px;margin-left:6px;min-width:15px;padding:1px 2px;text-align:center;white-space:nowrap}
.pluginCountButton.blueButton{background:white;border:1px solid #898f9c;-webkit-border-radius:2px;color:#6a7180;display:inline-block;font-size:11px;height:auto;line-height:18px;padding:0 3px}
.pluginCountButtonNub{height:0;left:2px;position:relative;top:-14px;width:5px;z-index:2}
.pluginCountButtonNub.pluginCountBlueButtonNub{top:-15px}
.pluginCountButtonNub s, .pluginCountButtonNub i{border-color:transparent #D7D7D7 transparent;border-style:solid;border-width:4px 5px 4px 0;display:block;position:relative;top:1px}
.pluginCountButtonNub i{border-right-color:#fff;left:2px;top:-7px}
.pluginCountButtonDark{background:#d7d7d7;border-color:#d7d7d7;color:#333}
.pluginCountButtonDarkNub i{display:none}
.pluginCountButtonNub.pluginCountBlueButtonNub s, .pluginCountButtonNub.pluginCountBlueButtonNub i{border-color:transparent #898f9c transparent}
.pluginCountButtonNub.pluginCountBlueButtonNub i{border-right-color:#fff}
.pluginCountTextConnected,
.pluginCountConnected .pluginCountTextDisconnected{display:none}
.pluginCountConnected .pluginCountTextConnected{display:inline}
.pluginErrorLink{color:#f03d25}
.pluginFontArial, .pluginFontArial button, .pluginFontArial input, .pluginFontArial label, .pluginFontArial select, .pluginFontArial td, .pluginFontArial textarea{font-family:"arial", sans-serif}
.pluginFontLucida, .pluginFontLucida button, .pluginFontLucida input, .pluginFontLucida label, .pluginFontLucida select, .pluginFontLucida td, .pluginFontLucida textarea{font-family:"lucida grande", sans-serif}
.pluginFontSegoe, .pluginFontSegoe button, .pluginFontSegoe input, .pluginFontSegoe label, .pluginFontSegoe select, .pluginFontSegoe td, .pluginFontSegoe textarea{font-family:"segoe ui", sans-serif}
.pluginFontTahoma, .pluginFontTahoma button, .pluginFontTahoma input, .pluginFontTahoma label, .pluginFontTahoma select, .pluginFontTahoma td, .pluginFontTahoma textarea{font-family:"tahoma", sans-serif}
.pluginFontTrebuchet, .pluginFontTrebuchet button, .pluginFontTrebuchet input, .pluginFontTrebuchet label, .pluginFontTrebuchet select, .pluginFontTrebuchet td, .pluginFontTrebuchet textarea{font-family:"trebuchet ms", sans-serif}
.pluginFontVerdana, .pluginFontVerdana button, .pluginFontVerdana input, .pluginFontVerdana label, .pluginFontVerdana select, .pluginFontVerdana td, .pluginFontVerdana textarea{font-family:"verdana", sans-serif}
.pluginFontHelvetica, .pluginFontHelvetica button, .pluginFontHelvetica input, .pluginFontHelvetica label, .pluginFontHelvetica select, .pluginFontHelvetica td, .pluginFontHelvetica textarea{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}

body.plugin{background:transparent;overflow:hidden;-webkit-text-size-adjust:none}
._4-nd{float:right}
.pluginSkinDark,
.pluginSkinDark .fcb{color:gray}
.pluginSkinDark a.uiLinkSubtle,
.pluginSkinDark .fcg{color:#555}
.pluginSkinDark a,
.pluginSkinDark .uiHeader h3{color:#fff}
.sp_dlpoge{background-image:url(/rsrc.php/v2/yV/r/MP9J_h6MnfY.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_4c8f00{width:29px;height:26px;background-position:0 -147px}
.sx_e52f91{background-position:-174px -147px}
.sx_7ff796{background-position:-189px -147px}
.sx_096afe{background-position:-204px -147px}
.sx_27bb5e{width:13px;height:13px;background-position:-339px -147px}
.sx_a4372f{background-position:-219px -147px}
.sx_6a9d36{background-position:-234px -147px}
.sx_41c060{background-position:-249px -147px}
.sx_fd71b5{background-position:-264px -147px}
.sx_5314fb{background-position:-279px -147px}
.sx_be0675{background-position:-294px -147px}
.sx_49b360{background-position:-309px -147px}
.sx_2807d9{background-position:-324px -147px}
.sx_afcb85{width:16px;height:16px;background-position:-74px -148px}
.sx_b508d6{width:13px;height:13px;background-position:-127px -148px}
.sx_c5670f{width:13px;height:13px;background-position:-143px -148px}
.sx_e92c92{width:13px;height:13px;background-position:-159px -148px}
.sx_c79f45{width:20px;height:20px;background-position:-31px -148px}
.sx_e61955{width:17px;height:17px;background-position:-54px -148px}
.sx_bfe454{width:25px;height:25px;background-position:-1px -175px}
.sx_f08a0f{background-position:-93px -148px}
.sx_662d0b{background-position:-110px -148px}
.sx_eb9963{width:12px;height:12px;background-position:-353px -147px}
.sx_57da4f{width:12px;height:12px;background-position:-366px -147px}
.sx_159be9{width:12px;height:12px;background-position:-379px -147px}
.sx_e019ca{width:12px;height:12px;background-position:-392px -147px}
.sx_b24442{width:12px;height:12px;background-position:-405px -147px}
.sx_a90013{width:10px;height:10px;background-position:-418px -147px}
.sx_b5079f{width:10px;height:10px;background-position:-429px -147px}
.sx_6828e3{width:10px;height:10px;background-position:-440px -147px}
.sx_41361d{width:10px;height:10px;background-position:-451px -147px}
.sx_2bdf29{width:10px;height:10px;background-position:-462px -147px}
.sx_6c369f{width:500px;height:48px;background-position:0 0}
.sx_c29020{width:500px;height:48px;background-position:0 -49px}
.sx_35decc{width:500px;height:48px;background-position:0 -98px}
.sp_like-blue{background-image:url(/rsrc.php/v2/yK/r/uGFy9lAuh_c.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_like-blue_fav{background-position:0 -57px}
.sx_like-blue_favgrey{background-position:-15px -57px}
.sx_like-blue_ch{background-position:-15px -42px}
.sx_like-blue_x{background-position:-15px -102px}
.sx_like-blue_thumb{width:13px;height:13px;background-position:0 -117px}
.sx_like-blue_send{background-position:0 -102px}
.sx_like-blue_sendp{background-position:-15px -87px}
.sx_like-blue_favblue{background-position:0 -42px}
.sx_like-blue_chblue{background-position:0 -27px}
.sx_like-blue_xblue{background-position:-15px -27px}
.sx_like-blue_favgray{background-position:0 -87px}
.sx_like-blue_chgray{background-position:0 -72px}
.sx_like-blue_xgray{background-position:-15px -72px}
.sx_like-blue_bigthumb{width:29px;height:26px;background-position:0 0}
.sp_like{background-image:url(/rsrc.php/v2/y-/r/tbhIfdAHjXE.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_like_fav{background-position:0 0}
.sx_like_favgrey{background-position:0 -15px}
.sx_like_ch{background-position:0 -30px}
.sx_like_x{background-position:0 -45px}
.sx_like_thumb{background-position:0 -60px}
.sx_like_send{background-position:0 -75px}
.sx_like_sendp{background-position:0 -90px}
._5f0v{outline:none}
._3oxt{outline:1px dotted #3b5998;outline-color:invert}
.webkit ._3oxt{outline:5px auto #5b9dd9}
.win.webkit ._3oxt{outline-color:#e59700}
.uiIconText{display:inline-block;padding-left:21px;position:relative}
label.uiIconText{vertical-align:baseline}
.uiIconText .img{left:0;position:absolute;top:-1px;vertical-align:middle}
i.img{-ms-high-contrast-adjust:none;_overflow:hidden}
i.img u{left:-999999px;position:absolute}
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prs{padding-right:5px}
.prm{padding-right:10px}
.prl{padding-right:20px}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}
.fss{font-size:9px}
.fsm{font-size:11px}
.fsl{font-size:13px}
.fsxl{font-size:16px}
.fsxxl{font-size:18px}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.fcb{color:#333}
.fcg{color:gray}
.fcw{color:#fff}
._51mz{border:0;border-collapse:collapse;border-spacing:0}
._5f0n{table-layout:fixed;width:100%}
.uiGrid .vTop{vertical-align:top}
.uiGrid .vMid{vertical-align:middle}
.uiGrid .vBot{vertical-align:bottom}
.uiGrid .hLeft{text-align:left}
.uiGrid .hCent{text-align:center}
.uiGrid .hRght{text-align:right}
._51mx:first-child > ._51m-{padding-top:0}
._51mx:last-child > ._51m-{padding-bottom:0}
._51mz ._51mw{padding-right:0}
._51mz ._51m-:first-child{padding-left:0}
.uiLayer{outline:none}

#bootloader_yxEXI { height: 42px; }
.bootloader_yxEXI { display:block !important; }